# <font color='green'> <center>TechnoHacks Edutech</center></font>
# <font color='greenish'> <center>Data Analyst Intern</center></font>

## <font color='black'> <center><b>Task Name:<b>  Calculate Summary Statistics</center></font>

### <font color='orange'>About Task:</font>

#### We have to calculate summary statistics like mean, median, mode, standard deviation for a datasets (Titanic dataset).

### <font color='cyan'>Author:</font>

#### DHANUSH M

### **Preprocessing**

#### **importing necessary packages**

In [1]:
import pandas as pd
import numpy as np

#### ***Loading Dataset***

In [5]:
data=pd.read_csv("titanic.csv")

In [6]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### **getting numeric column name**

In [19]:
numeric_column=['PassengerId', 'Survived', 'Pclass','Age', 'SibSp', 'Parch', 'Fare']

### **Calculating Mean**

In [27]:
for col in numeric_column:
    print(f'The Mean value of {col} columns is: {data[col].mean()}')

The Mean value of PassengerId columns is: 446.0
The Mean value of Survived columns is: 0.3838383838383838
The Mean value of Pclass columns is: 2.308641975308642
The Mean value of Age columns is: 29.69911764705882
The Mean value of SibSp columns is: 0.5230078563411896
The Mean value of Parch columns is: 0.38159371492704824
The Mean value of Fare columns is: 32.204207968574636

### **Calculating Median**

In [26]:
for col in numeric_column:
    print(f'The Median value of {col} columns is: {data[col].median()}')

The Median value of PassengerId columns is: 446.0
The Median value of Survived columns is: 0.0
The Median value of Pclass columns is: 3.0
The Median value of Age columns is: 28.0
The Median value of SibSp columns is: 0.0
The Median value of Parch columns is: 0.0
The Median value of Fare columns is: 14.4542

### **Calculating Mode**

In [25]:
for col in numeric_column:
    print(f'The Mode value of {col} columns is: {data[col].mode()[0]}')

The Mode value of PassengerId columns is: 1
The Mode value of Survived columns is: 0
The Mode value of Pclass columns is: 3
The Mode value of Age columns is: 24.0
The Mode value of SibSp columns is: 0
The Mode value of Parch columns is: 0
The Mode value of Fare columns is: 8.05

### **Calculating Standard Deviation**

In [28]:
for col in numeric_column:
    print(f'The Standar Deviation value of {col} columns is: {data[col].std()}')

The Standar Deviation value of PassengerId columns is: 257.3538420152301
The Standar Deviation value of Survived columns is: 0.4865924542648575
The Standar Deviation value of Pclass columns is: 0.836071240977049
The Standar Deviation value of Age columns is: 14.526497332334042
The Standar Deviation value of SibSp columns is: 1.1027434322934317
The Standar Deviation value of Parch columns is: 0.8060572211299483
The Standar Deviation value of Fare columns is: 49.6934285971809

### **Calculating Summary Statistics using describe() function**

In [29]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

 ### *<font color='green' > <center>Thank You</center></font>*