# <font color='green'> <center>TechnoHacks Edutech</center></font>
# <font color='greenish'> <center>Data Analyst Intern</center></font>

## <font color='black'> <center><b>Task Name:<b>  Remove Duplication</center></font>

### <font color='orange'>About Task:</font>

#### Removing Duplicates in a iris dataset

### <font color='cyan'>Author:</font>

#### DHANUSH M

### **Preprocessing**

#### **importing necessary packages**

In [1]:
import pandas as pd
import numpy as np

#### ***Loading Dataset***

In [16]:
iris_data=pd.read_csv("iris.csv")

In [17]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

#### **Removing Unwanted columns**

In [18]:
iris_data.duplicated().sum()

0

In [19]:
#romoving id attribute because it's not important for classification
iris_data.drop("Id",axis=1,inplace=True)

In [20]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

### **Checking Duplicates**

In [9]:
iris_data.duplicated().sum()

3

In [10]:
iris_data[iris_data.duplicated()]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
34             4.9           3.1            1.5           0.1     Iris-setosa
37             4.9           3.1            1.5           0.1     Iris-setosa
142            5.8           2.7            5.1           1.9  Iris-virginica

In [11]:
iris_data.shape

(150, 5)

### **Remove Duplicates**

In [12]:
#drop duplicated
iris_data.drop_duplicates(inplace=True)

In [13]:
iris_data.shape

(147, 5)

In [14]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

 ### *<font color='green' > <center>Thank You</center></font>*